@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
  
:root {
  --bg-color: #fdfdfd;
  --text-color: #333;
  --main-color: #754ef9;
  --white-color: #fdfdfd;
  --shadow-color: rgba(0, 0, 0, 0.2);
}

.dark-mode{
  --bg-color: #0b061f;
  --text-color: #fdfdfd;
  --shadow-color: rgba(0, 0, 0, 0.7);

}

#user-options {
  display: none;
}

#user-options {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 0.5rem;
    z-index: 1;
    list-style-type: none;
    right: 3.5cm; /* Mueve el menú desplegable 10 cm a la derecha */
}

#user-options li {
    margin-bottom: 0.5rem;
}

#user-options a {
    color: #754ef9;
    text-decoration: none;
}

#user-options a:hover {
    text-decoration: underline;
}



html {
  font-size: 62.5%; 
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  top: 0;
  left: 1cm; /* Cambiar el valor del margen izquierdo */
  width: calc(100% - 1cm); /* Ajustar el ancho para que el header ocupe todo el espacio restante */
  padding: 2rem 7%;
  background: transparent;
  display: flex;
  align-items: center;
  z-index: 100;
  transition: 0.5s;
}

header.sticky {
  background: var(--bg-color);
  box-shadow: 0.1rem 1rem var(--shadow-color);
}

.logo {
  font-size: 2.5rem;
  color: var(--main-color);
  font-weight: 600;
  cursor: default;
  margin-right: auto;
}

.navbar a {
  position: relative;
  font-size: 1.7rem;
  color: var(--white-color);
  font-weight: 500;
  margin-right: 3rem;
  
}

header.sticky .navbar a {
  color: var(--text-color);
}

header.sticky .navbar a.active {
  color: var(--main-color);
}


.navbar a.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: .2rem;
  background: var(--white-color);
}

header.sticky .navbar a::before {
  background: var(--main-color);
  opacity: .9;
}

#darkMode-icon {
  font-size: 2.4rem;
  color: var(--white-color);
  cursor: pointer;
}

header.sticky #darkMode-icon {
 color: var(--text-color);
 opacity: .9;
}

#menu-icon{

  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

section {
  min-height: 100vh;
  padding: 10rem 7% 2rem;
}

.home {
  display: flex;
  align-items: center;
}

.home-content {
  max-width: 44rem;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content h1 {
  font-size: 5.0rem;
  font-weight: 700;
  margin-top: .3rem;
}

.home-content p {
  font-size: 1.6rem;
}

.home-content .social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  box-shadow: 0.2rem 0.5rem var(--shadow-color);
  font-size: 2rem;
  color: var(--main-color);
  margin: 2.5rem  1.5rem 3rem 0;
  transition: .5s ease;
}

.home-content .social-media a:hover {
  background: var(--main-color);
  color: var(--white-color);
}

.btn {
  display: inline-block;
  padding: 1.2rem 2.8rem;
  background: var(--main-color);
  border-radius: 0.6rem;
  box-shadow: 0.2rem 0.5rem var(--shadow-color);
  font-size: 1.6rem;
  color: var(--white-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  border: 0.2rem solid transparent;
  transition: 0.5s ease;
}

.btn:hover {
  background: transparent;
  color: var(--main-color);
}

.home .profession-container {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 768px;
  height: 768px;
  overflow: hidden;
  pointer-events: none;
}

.home .profession-container .profession-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 768px;
  height: 768px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: professionRotate 6s ease-out infinite;
}

@keyframes professionRotate {
  0%, 20% {
      transform: rotate(0deg);
  }
  25%, 45% {
      transform: rotate(-90deg);
  }
  50%, 70% {
      transform: rotate(-180deg);
  }
  75%, 95% {
      transform: rotate(-270deg);
  }
  100% {
      transform: rotate(-360deg);
  }
}

.home .profession-box .profession {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--main-color);
  transform: rotate(calc(360deg / 4 * var(--i)));
  transform-origin: 384px;
  background:var(--bg-color);
  padding: 13px 0;
}

.home .profession-box .profession:nth-child(1) i {
  margin-right: 15px;
}

.home .profession-box .profession:nth-child(2),
.home .profession-box .profession:nth-child(4) {
  padding-bottom: 20px;
}

.profession i {

  font-size: 3.8rem;
  line-height: 1;
  font-weight: 600;
}

.profession h3 {

  font-size: 3.2rem;
  line-height: 1;
  font-weight: 600;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 560px; /* Ancho del círculo */
  height: 560px; /* Altura del círculo */
  background: none; /* Cambiado a transparente para ocultar el círculo rojo */
  border: 3px solid var(--main-color);
  border-radius: 50%; /* Hacer el borde redondeado */
  z-index: -1; /* Colocar detrás de las profesiones */
}

.home .profession-container .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 384px solid var(--main-color);
  border-right: 384px solid var(--main-color);
  border-bottom: 384px solid var(--main-color);
  border-left: 384px solid transparent;
}

.home-img {
  position: absolute;
  top: 50%; /* Colocar la imagen en la mitad vertical de la sección */
  right: -2cm; /* Desplazar la imagen medio centímetro a la derecha */
  transform: translateY(-46%); /* Centrar verticalmente la imagen */
  width: 40%; /* Aumentar el tamaño de la imagen */
}



.home-img img {
  width: 70.5%; /* Ajustar la imagen al ancho del contenedor */
  height: auto; /* Mantener la proporción */
}

span {
  color: var(--main-color)
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}


.about-img img {
  width: 40vw;
}

.heading{
  font-size: 4.5rem;
  text-align: center;
  margin-bottom: 5rem;
}

.about-content h2 {
  font-size: 4.5rem;
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2rem;
}


.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.services{
  min-height: auto;
  padding-bottom: 7rem;
}

.services h2{
  margin-bottom: 5rem;
}



.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.services-box {
  flex: 1 1 30rem;
  background: var(--bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  box-shadow: 0.1rem 0.5rem var(--shadow-color);
  text-align: center;
  position: relative; /* Añadido para posicionar los pseudo-elementos */
  transition: .5s ease;
}

.services-container .services-box:hover {
  box-shadow: 0 1rem 2rem var(--shadow-color);
  transform: scale(1.02);
} 
.services-box::before,
.services-box::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 20px; /* Altura del borde morado */
  background: linear-gradient(to right, transparent, #754ef9, transparent); /* Crea un degradado que simula los bordes redondeados */
}

.services-box::before {
  top: -05px; /* Posiciona el borde morado arriba */
  border-top-left-radius: 20px; /* Redondea la esquina superior izquierda */
  border-top-right-radius: 20px; /* Redondea la esquina superior derecha */
}

.services-box::after {
  bottom: -05px; /* Posiciona el borde morado abajo */
  border-bottom-left-radius: 20px; /* Redondea la esquina inferior izquierda */
  border-bottom-right-radius: 20px; /* Redondea la esquina inferior derecha */
}



.services-box i {
  font-size: 7rem;
  color: var(--main-color);
}

.services-box h3 {
  font-size: 2.6rem;
}
.services-box:hover h3{

  color: var(--main-color);
}
.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;

}

.portfolio i {
  padding-bottom: 10rem;
}

.portfolio h2 {
  margin-bottom: 4rem;
}

.portfolio .portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.portfolio-container .portfolio-box {
  position: relative;
  display: flex;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  
}

.portfolio-box img {
  width: 100%;
  transition: .5s ease;
}
.portfolio-box:hover img {

  transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  opacity: 0;
  transition:.5s ease;
  
}

.portfolio-box:hover .portfolio-layer{
  opacity: 1;
}

.portfolio-layer h4{

  font-size: 3rem;
}

.portfolio-layer p{

  font-size: 1.6rem;
  margin: .3rem  0 1rem;
}

.portfolio-layer a {

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--white-color);
  border-radius: 50%;
}

.portfolio-layer a i {
  font-size: 2.5rem;
  color: #333;
  margin-top: 2.6cm; 
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 3%;
  background: var(--main-color);
}
.footer-text p {
  font-size: 1.6rem;
  color: var(--white-color);
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  background: var(--white-color); /* Blanco */
  border-radius: 8rem;
  border: .7rem solid var(--main-color); /* Negro o cualquier otro color principal */
  outline:  .3rem solid transparent;
  transition: .5s ease;
}

.footer-iconTop a:hover{
  outline-color: var(--white-color);
}
.footer-iconTop a i{

  font-size: 2.4rem;
  color: #333;
}


